/* INICIO VIDEO */
.img-Main{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.img-Main img{
    width: 62.5rem;
    height:40rem;
    border-radius: 1.875rem;
}
/* FIM VIDEO */

/* INICIO SOBRE NOS */
.sobre-Nos{
    background-color: aqua;
}
/* FIM SOBRE NOS */