/* INICIO VIDEO */
.video{
    background-color: aqua;
    margin-top: 6rem;
    max-width: 50rem;
}

.video iframe{

    margin-left: 30rem;
    margin-top: 14rem;
    /* margin-top: rem; */
}
/* FIM VIDEO */

/* INICIO SOBRE NOS */
.sobre-Nos{
    background-color: aqua;
}
/* FIM SOBRE NOS */